{% extends "profiles/profile_base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'profiles/css/profile_detail.css' %}">
{% endblock style %}

{% block profile_content %}
<div class="container-fluid">
  <div class="row">
    <div class="profile">
        {% if not object.profile_pic %}
          <img align="left" class="image-profile thumbnail" src="{{ object.profile.profile_pic.url }}" alt="Profile picture"/>
        {% else %}
          <img align="left" class="image-profile thumbnail" src="{% static 'profiles/img/default_user.png' %}" alt="Profile image example"/>
        {% endif %}
        <div class="profile-text">
            <h2>@{{ object.username }}</h2>
            <h1>{{ object.firstname }} {{object.lastname}}</h1>
        </div>
    </div>
  </div>
</div> <!-- /container fluid-->  
<div class="container-fluid">
  <div class="col-sm-12">

      <div data-spy="scroll" class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">
              About </a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">
             Edit Profile</a>
            </li>
            <li>
              <a href="#tab_default_3" data-toggle="tab">
             Friends</a>
            </li>
             <li>
              <a href="#tab_default_4" data-toggle="tab">
             My Quizzes</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
 
              <h1>#TODO PROFILE</h1>
           
            </div>
            <div class="tab-pane" id="tab_default_2">
              
              <h1>#TODO EDIT PROFILE</h1>
           
            </div>
            <div class="tab-pane" id="tab_default_3">
              
              <h1>#TODO FRIENDS</h1>

            </div>
             <div class="tab-pane" id="tab_default_4">
                
                <h1>#TODO MY QUIZZES</h1>

              </div>
            </div>
          </div>
        </div>
      </div>
  
  </div>
</div>
{% endblock profile_content %}
