{% extends "profile/profile_base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'profile/css/profile_detail.css' %}">
{% endblock style %}

{% block profile_content %}
<div class="container-fluid">
  <div class="row">
    <div class="profile">
        {% if user.profile.profile_pic %}
          <img align="left" class="image-profile thumbnail" src="{{ object.profile.profile_pic.url }}" alt="Profile picture"/>
        {% else %}
          <img align="left" class="image-profile thumbnail" src="{% static 'profile/img/default_user.png' %}" alt="Profile image example"/>
        {% endif %}
        <div class="profile-text">
            <h1>{{ object.first_name }} {{object.last_name}}</h1>
            <h2>@{{ object.username }}</h2>
        </div>
    </div>
  </div>
</div> <!-- /container fluid-->  
<div class="container-fluid">
  <div class="col-sm-12">

      <div data-spy="scroll" class="tabbable-panel">
        <div class="tabbable-line">
          <ul class="nav nav-tabs ">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">
              About </a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">
             Edit Profile</a>
            </li>
            <li>
              <a href="#tab_default_3" data-toggle="tab">
             Friends</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
 
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-2">
                    Name
                  </div>
                  <div class="col-xs-10">
                    : &nbsp {{ user.first_name }} {{ user.last_name }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                    Email
                  </div>
                  <div class="col-xs-10">
                    : &nbsp {{ user.email }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                    Active Account
                  </div>
                  <div class="col-xs-10">
                    : &nbsp {{ user.is_active }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                    Admin Status
                  </div>
                  <div class="col-xs-10">
                    : &nbsp {{ user.is_staff }}
                  </div>
                </div>
                {% if user.is_staff %}
                <div class="row">
                  <div class="col-xs-2">
                    Quiz Owned
                  </div>
                  <div class="col-xs-10">
                    : &nbsp {{ quiz_owned.count }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                    Task Owned
                  </div>
                  <div class="col-xs-10">
                    : &nbsp {{ task_owned.count }}
                  </div>
                </div>
                {% endif %}
              </div>
           
            </div>
            <div class="tab-pane" id="tab_default_2">
              
              <div class="container-fluid">
                <form method="POST">
                  {% crispy user_form %}
                  {% crispy profile_form %}
                  <div class="form-actions">
                    <input class="btn btn-info btn-sm pull_bottom pull-right" type="submit" name="update_profile_submit" value="Submit">
                  </div>
                </form>
              </div>
           
            </div>
            <div class="tab-pane" id="tab_default_3">
              
              <h1>#TODO FRIENDS</h1>

            </div>
            </div>
          </div>
        </div>
      </div>
  
  </div>
</div>
{% endblock profile_content %}
