{% extends "base_site.html" %}

{% load static %}

{% block extrastyle %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock extrastyle %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'home' %}">Home </a>
&rsaquo; Admin Home
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="container-fluid">
	<div class="col-sm-12">

		<div class="bs-calltoaction bs-calltoaction-info">
			<div class="row">
				<div class="col-md-9 cta-contents">
					<h1 class="cta-title">Create New Task &nbsp <span class="glyphicon glyphicon-pencil"></span></h1>
					<div class="cta-desc">
						<p>Step by step interface to create and send new task.</p>
					</div>
				</div>
				<div class="col-md-3 cta-button">
					<a href="{% url 'task:create_task' %}" class="btn btn-lg btn-block btn-default">Start</a>
				</div>
			</div>
		</div>

		<div class="bs-calltoaction bs-calltoaction-info">
			<div class="row">
				<div class="col-md-9 cta-contents">
					<h1 class="cta-title">Task Evaluation <span class="glyphicon glyphicon-list-alt"></span></h1>
					<div class="cta-desc">
						<p>Evaluate the task you have assigned to the coders.</p>
					</div>
				</div>
				<div class="col-md-3 cta-button">
					<a href="{% url 'task:task_evaluation_list' %}" class="btn btn-lg btn-block btn-default">Check it out!</a>
				</div>
			</div>
		</div>

		{% if user.is_staff or user.is_superuser %}

		<div class="bs-calltoaction bs-calltoaction-info">
			<div class="row">
				<div class="col-md-9 cta-contents">
					<h1 class="cta-title">UCIPT Admin Site <span class="glyphicon glyphicon-cog"></span></h1>
					<div class="cta-desc">
						<p>Go directly to the django admin site where you can view and make changes to the database.</p>
					</div>
				</div>
				<div class="col-md-3 cta-button">
					<a href="{% url 'admin:index' %}" class="btn btn-lg btn-block btn-default">Inspect</a>
				</div>
			</div>
		</div>
			
		{% endif %}

	</div>
</div>
{% endblock content %}