{% extends "quiz/quiz_base.html" %}

{% load static %}

{% load shuffle %}

{% block quiz_content %}
<div class="container-fluid">

	<div id="prolog">
		<div class="row">
			<div class="col-md-12">
				<h1>Hi there, {{ request.user }}!</h1>
				<br>
				<h4>
					This is a quiz to make sure that you understand how to label. You will need to complete the quiz before doing the actual task.
					Don't worry, you can take the quiz as many times as you want!
				</h4>
				<h4>-------------------------------------------------------</h4>
				<h4>Title: {{ quiz.title }}</h4>
				<h4>Passing Mark: {{ quiz.pass_mark }}</h4>
				<h4>Description: {{ quiz.description }}</h4>
				<br>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="text-align: center;">
				<div class="btn btn-info btn-lg start_quiz">Start</div>
			</div>
		</div>
	</div>

	<form id="quiz_form" action="{% url 'response:create_quiz_response' quiz.id %}" method="POST">
		{% csrf_token %} 

		{% for question in question_list %}
		<div class="row" style="display: none;"><br><br>
			<div class="col-sm-12">
				<div class="loader">
					<div class="card">

						<div class="question">
							<h3>
								<span id="question_{{ question.id }}"> {{ question }}</span>
							</h3>
						</div>
						<ul>

							{% for answer in question.answer_set.all|shuffle %}
							<li>
								<input id="answer_{{ answer.id }}" type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
								<label for="answer_{{ answer.id }}" class="element-animation">{{ answer }}</label>
								<div class="check"></div>
							</li>
							{% endfor %}

						</ul>
					</div>
				</div>
				<div class="text-muted">
					<span class="answer"></span>
				</div>

			</div>
		</div>
		{% endfor %}
	</form>
</div>
{% endblock quiz_content %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/css/take_quiz.css' %}">
{% endblock style %}

{% block script %}
<script type="text/javascript">
	var num_questions = {{ question_list|length }};
</script>
<script type="text/javascript" src="{% static 'quiz/js/take_quiz.js' %}"></script>
{% endblock script %}