{% extends "task/task_base.html" %}

{% load crispy_forms_tags %}

{% block task_content %}
	<div class="container-fluid">
		<h1>Create Task</h1>
		{% crispy form %}
	</div>

	<!-- Category Modal -->
    <div id="category_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 class="modal-title">Create Category</h1>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
            	{% crispy category_form %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Question Modal -->
    <div id="question_modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 class="modal-title">Create Question</h1>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                <form id="create_question_form" action="{% url 'question:create_question' %}" name="create_question_form" method="POST">
                    {% crispy question_form %}
                    {{ answer_list.management_form }}
                    {% crispy answer_list helper %}
                    <div class="form-actions">
                        <input class="btn btn-info btn-sm pull_bottom pull-right" type="submit" name="create_question_submit" value="Submit">
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Upload Questions Modal -->
    <div id="upload_question_modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 class="modal-title">Upload Questions</h1>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
            	{% crispy upload_question_form %}
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock task_content %}