{% extends "task/task_base.html" %}

{% load shuffle %}

{% block task_content %}
	<div class="container-fluid">
		<h3>{{ task.title }}</h3>
		<h4>{{ task.description }}</h4>
		<form action="{% url 'response:create_task_response' task.id %}" method="POST">
			{% csrf_token %} 

			{% for question in question_list %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ question.content }}</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<tbody>
						{% for answer in question.answer_set.all|shuffle %}
						<tr>
							<td>
								<label style="display: block;">
									<div class="row">
										<div class="col-xs-8">
											{{ answer }}
										</div>
										<div class="col-xs-4">
											<input style="text-align: center" type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
										</div>
									</div>
								</label>
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			{% endfor %}
			<input class="btn btn-lg btn-primary" type="submit" value="Submit" style="float: right"/>
		</form>
	</div>
{% endblock task_content %}