{% extends "task/task_base.html" %}

{% load shuffle %}

{% load static %}

{% block task_content %}
<div class="container-fluid">

	<form id="task_form" action="{% url 'response:create_task_response' task.id %}" method="POST">
		{% csrf_token %} 

		{% for question in question_list %}
		<div class="row" style="display: none;">
			<div class="col-sm-12">
				<div class="loader">
					<div class="card">

						<div class="question">
							<h3>
								<span id="question_{{ question.id }}"> {{ question }}</span>
							</h3>
						</div>
						<ul>

							{% for answer in question.answer_set.all|shuffle %}
							<li>
								<input id="answer_{{ answer.id }}" type="radio" name="question_{{ question.id }}" value="{{ answer.id }}" onclick="this.form.submit()">
								<label for="answer_{{ answer.id }}" class="element-animation">{{ answer }}</label>
								<div class="check"></div>
							</li>
							{% endfor %}

						</ul>
					</div>
				</div>
				<div class="text-muted">
					<span class="answer"></span>
				</div>

			</div>
		</div>
		{% endfor %}
	</form>
</div>
{% endblock task_content %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'task/css/take_task.css' %}">
{% endblock style %}

{% block script %}
<script type="text/javascript">
	var num_questions = {{ question_list|length }};
</script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script type="text/javascript" src="{% static 'task/js/take_task.js' %}"></script>
{% endblock script %}
