{% extends "admin/base_site.html" %}

{% load i18n admin_urls static admin_list %}

{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="/admin/response">Response</a>
&rsaquo; <a href="/admin/response/quizresponse">Quiz responses</a>
&rsaquo; Quiz response detail
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h3>Response Detail:</h3>
        <p>User: {{ quiz_response.user }}</p>
        <p>Score: {{ quiz_response.score }}</p>
        <table class="table table-striped" style="table-layout: fixed">
            <thead>
                <tr class="table-head">
                    <th>Question</th>
                    <th>Correct</th>
                </tr>
            </thead>
            <tbody>
                {% for question_response in question_response_list %}
                    <tr>
                        <td>{{ question_response.question }}</td>
                        {% if question_response.correct %}
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        {% else %}
                            <td><span class="glyphicon glyphicon-remove"></span></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}