{% extends "admin/base_site.html" %}

{% load i18n admin_urls static admin_list %}

{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="/admin/question">Question</a>
&rsaquo; <a href="/admin/question/question">Questions</a>
&rsaquo; Upload Question
</div>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<h1>Upload Questions</h1>
		{% crispy form %}
	</div>
{% endblock content %}